@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --cor-fundo: #ffffff;
  --cor-primaria: #014689;
  --cor-primaria-hover: #56AF31;
  --cor-texto-primario: #212121;
  --cor-texto-secundario: #90A1B8;
  --cor-borda: #e2e8f0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--cor-fundo);
  color: var(--cor-texto-primario);
}

a {
  color: var(--cor-primaria);
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  font-weight: 700;
}

input,
button {
  font-family: "Roboto", sans-serif;
}

input:focus {
  outline: none;
}

h1{
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: var(--cor-primaria);
}